{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- {% if exception_occured %}
        style = "background-image: url(https://www.freepik.com/free-photo/pattaya-chonburi-thailand-28-may-2019-beautiful-landscape-cityscape-pattaya-city-is-popular-destination-thailand-with-white-cloud-blue-sky_5017343.htm#fromView=search&page=1&position=1&uuid=a54f4a40-9049-40f6-8c36-ca341b4155d7&query=city);"
    {% else %}
        style = "background-image: url(https://www.freepik.com/free-photo/pattaya-chonburi-thailand-28-may-2019-beautiful-landscape-cityscape-pattaya-city-is-popular-destination-thailand-with-white-cloud-blue-sky_5017343.htm#fromView=search&page=1&position=1&uuid=a54f4a40-9049-40f6-8c36-ca341b4155d7&query=city);"
    {% endif %} -->

    <div class="container">
        <h1>Weather App</h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Enter city" name="city">
        <button type="submit">Search</button>
    </form>

    <div class="weather">
        <div class="left">
            <h2>{{temp}}&#176; C</h2>
            <h3>{{city}}</h3>
        </div>

        <div class="right">
            <div class="icon">
                <p><img src="http://openweathermap.org/img/w/{{ icon }}.png" width="100px" alt=""></p>
            </div>
            <div class="condition">
                <p>{{description}}</p>
                <p>{{ day }}</p>
            </div>
        </div>
    </div>

{% if exception_occured %}
    <script>
        window.onload = function(){
            alert("City information is not available to our API");
        }
    </script>
{% endif %}

</body>
</html>